.fc-media-screen {
    height: 100%;
}
/* 상단 버튼 */
.fc .fc-button-primary{
    background-color: #c4b4ff;
    border: none;
}
.fc .fc-button-primary:hover{
    background-color: #a684ff;
}
.fc .fc-button-primary:focus,
.fc .fc-today-button:focus {
    border: none;
    outline: none;
    box-shadow: none !important;
}
.fc .fc-today-button {
    background-color: #c4b4ff !important;
    cursor: pointer;
}
.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active{
    background-color: #a684ff !important;
}

/* 달력 이벤트 커스텀 */
.fc-daygrid-event-harness{
    border-bottom:1px solid #a684ff
}
.fc-v-event{
    background-color: white;
    color: #222;
    border: none;
}
.fc-h-event{
    background-color: white;
    color: #222;
    border: none;
}
.fc-h-event .fc-event-main{
    color: #222;
}
.fc-v-event .fc-event-main{
    color: #222;
    border: 1px solid #cbcbcb
}

/* 달력 오늘 표시 */
/* .fc-timegrid-event-harness.fc-timegrid-event-harness-inset {
    width: fit-content;
    min-width: 100px;
} */
.fc .fc-daygrid-day.fc-day-today{
    background-color: #efeaff;
}
.fc .fc-timegrid-col.fc-day-today{
    background-color: #efeaff;
}

/* th, td */
.fc td, .fc th {
    overflow: hidden !important;
}
.fc-timegrid-slot-label-frame.fc-scrollgrid-shrink-frame {
    text-align: center;
}
.fc-theme-standard td {
    border-bottom: none !important;
}


.fc-event-main >div >h2, .fc-event-main >div >p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 달력 팝업 */
.fc-more-popover {
    z-index: 50;
}